<footer class="footer">
  <div class="container">
    <div class="footer-logo-copy">
      <a href="#" class="logo">
        <img src="assets/images/logo.png" alt="Logo">
      </a>
      <p class="copy">&copy Все права защищены, 2020</p>
    </div>
    <a href="{{insta.href}}" class="footer-social" *ngFor="let insta of weInInstagram;">
      <img src="assets/images/{{ insta.image }}" alt="{{ insta.alt }}">
      <span class="social-desc">{{ insta.description }}</span>
    </a>
    <a href="tel:{{ number.phone }}" class="phone" *ngFor="let number of showPhoneNumber">{{ number.phone | formatPhone}}</a>
    <p class="copy-adaptive-visible">&copy Все права защищены, 2020</p>
  </div>
</footer>

