.cart-image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 22px;
  right: 22px;
  width: 92px;
  height: 92px;
  background: radial-gradient(circle, rgba(113, 8, 30, 1) 0%, rgba(215, 72, 92, 1) 100%);
  border-radius: 50%;
  transition: all .4s;
  z-index: 99;
}

.cart-image-wrap:hover {
  box-shadow: 0 0 13px 2px rgba(130, 19, 40, 0.5);
}

.cart-image {
  max-width: 100%;
}

.cart-message {
  visibility: hidden;
  opacity: 0;
  width: 172px;
  border-radius: 10px;
  border: 2px solid #770a1d;
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 130px;
  z-index: 3;
  transform: translateY(30px);
  transition: all .5s;
}

.cart-message::after {
  content: '';
  width: 15px;
  height: 15px;
  border-right: 2px solid #770a1d;
  border-bottom: 2px solid #770a1d;
  position: absolute;
  top: 19px;
  right: -10px;
  background: #feefee;
  transform: rotate(-45deg);
}

.message {
  border-radius: 10px;
  padding: 10px 14px;
  background: #feefee;
  position: relative;
  z-index: 2;
  font-size: 15px;
  color: #770a1d;
}

.cart-image-wrap:hover ~ .cart-message {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}

@media screen and (max-width: 1407px) {
  .cart-image-wrap {
    width: 60px;
    height: 60px;
  }

  .cart-image {
    max-width: 50%;
  }

  .cart-message {
    transform: translateY(20px);
  }

  .cart-message::after {
    top: 14px;
  }

  .message {
    padding: 5px 14px;
  }

  .cart-image-wrap:hover ~ .cart-message {
    transform: translateY(0px);
  }
}
