<main class="main">
  <section class="macaroons-info">
    <div class="container">
      <h1 class="macaroons-info-title">
        Мягкие французские пироженки Macaroons
      </h1>
      <p class="macaroons-info-desc">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </p>

      <div class="macaroons-info-button">
        <form>
          <button type="button" class="btn macaroons-info-btn">Выбрать макарун</button>
<!--          (click)="scrollTo(productsElement)"-->
        </form>
      </div>
      <div class="macaroons-info-image">
        <img src="assets/images/macaroons/main-macaroons.png" alt="Macaroons">
      </div>
    </div>
  </section>

  <section class="advantages" id="advantages">
    <div class="container">
      <h2 class="advantages-title">Мы печём для вас вкуснейшие макаруны уже более 10 лет</h2>
      <p class="advantages-desc">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
        ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина,
        разрыхлителей и улучшителей муки.
      </p>
      <div class="advantages-image">
        <img src="assets/images/macaroons/big-macaroon.png" alt="Большой макарун>">
      </div>
      <ul class="advantages-list">
        <li class="advantages-list-item" *ngFor="let advantage of advantages; let i = index;">
          <div class="circle-number">
            <span>{{ i + 1 }}</span>
          </div>
          <h3 class="advantages-list-title">{{advantage.title}}</h3>
          <p class="advantages-list-desc">{{advantage.description}}</p>
        </li>
      </ul>
    </div>
  </section>

  <product-list></product-list>

  <section class="order" id="order" #orderElement>
    <div class="container">
      <div class="order-image">
        <img src="assets/images/macaroons/order-macaroons.png" alt="Macaroons" class="order-image-img">
      </div>
      <div class="order-form">
        <h2 class="order-form-title">Закажите макарун!</h2>
        <p class="order-form-desc">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!</p>
        <form class="form">
          <p class="form-choice">Ваш выбор:</p>
          <label><input type="text" placeholder="Выберите макарун" name="product" class="form-input" required readonly [(ngModel)]="formValues.productTitle"></label>
          <p class="form-data">Заполните данные для заказа:</p>
          <label><input type="text" placeholder="Ваше имя" name="name" class="form-input" required [(ngModel)]="formValues.name"></label>
          <label><input type="number" placeholder="+375 (__) ___ - __ - __" name="phone" class="form-input" required [(ngModel)]="formValues.phone"></label>
          <button type="button" class="btn form-btn" (click)="createOrder()">Оформить заказ</button>
        </form>
      </div>
      <img src="assets/images/strawberry01.png" alt="Strawberries" class="order-form-img-big">
      <img src="assets/images/strawberry02.png" alt="Strawberries" class="order-form-img">
    </div>
  </section>
</main>
